
* {
  text-align:center;
}
#def {
  font-size:20px;
}
.nav {
  padding: 20px 80px;
}
p::selection {
  color:orange;
  background-color:yellow;
}
@media (min-width:700px) {
   h1::before {
     content:"Evolution of Artificial Intelligence";
   }
}
@media (max-width:699px) {
  h1::before {
    content:"Evolution of AI";
  }
}
.page {
  background-color:yellow;
  font-family: sans-serif;
}
#begin {
  font-family: cursive;
  font-size:20px;

}
#phasetwo {
  font-family: cursive;
  font-size:20px;
}
#phasethree {
  font-family: cursive;
  font-size:20px;
}
.img1 {
  width:300px;
  height:300px;
  border-width: 10px;
  border-color: crimson;
}
