.nav {
  padding:20px 80px;

}
#line1 {
  border-style:2px dashed orange;
}
begin, def {
  font-family:Courier;
  font-size:18px;
}
* {
  text-align:center;
}

.navbar a:hover {
  transition: 1s;
  color:gold;
  background-color:black;
}
p::selection {
  color:orange;
  background-color:yellow;
}
@media (min-width:700px) {
   h1::before {
     content:"Evolution of Artificial Intelligence";
   }
}
@media (max-width:699px) {
  h1::before {
    content:"Evolution of AI";
  }
}
