
* {
  text-align:center;
}
#def {
  font-size:20px;
}
.container {
  display:flex;
  flex-wrap:wrap;
}

p::selection {
  color:orange;
  background-color:yellow;
}
@media (min-width:700px) {
   h1::before {
     content:"Evolution of Artificial Intelligence";
   }
}
@media (max-width:699px) {
  h1::before {
    content:"Evolution of AI";
  }
}

#begin {
  font-family: cursive;
  font-size:20px;

}
#phasetwo {
  font-family: cursive;
  font-size:20px;
}
#phasethree {
  font-family: cursive;
  font-size:20px;
}
.img1 {
  width:300px;
  height:300px;
  border-width: 10px;
  border-color: crimson;
}
table {
  width:70%;
      margin-left:15%;
      margin-right:15%;
      border:3px solid black;
      padding:20px;
}
td {
  border:3px solid black;
  padding:20px;
}
